.flex{
  display:flex;
}


.items-center{
  align-items:center;
}
.justify-content{
  justify-content:center;
}

.space-between{
  justify-content:space-between;
}

.uppercase{
  text-transform:uppercase;
}

.textone{
  font-weight:bolder;
  font-family:"Roboto";
  font-size:14px;
}

.search-bar{
  width:22vw;
  border:0.5px solid lightslategray;
  border-radius:8px;
  padding:4px 14px;
  background:#fcfaff;
 
  
  
}
.mx-2{
  margin-left:12px;
  margin-right:12px;
}
.section1{
  background:#dfced6;
  font-family:Roboto;
  
}
.profilo{
  justify-content:center;
  align-items:center;
}

.flex-wrap{
  flex-wrap:wrap;
}